body{
margin:0;
font-family:Arial;
background:#0f172a;
color:white;
}

.login-box{
text-align:center;
margin-top:100px;
}

.login-box input{
padding:10px;
margin:10px;
border:none;
border-radius:5px;
}

.login-box button{
padding:10px 20px;
background:#2563eb;
border:none;
color:white;
border-radius:5px;
cursor:pointer;
}

.hidden{
display:none;
}

header{
background:#111827;
padding:15px;
display:flex;
justify-content:space-between;
}

.course{
margin:20px;
padding:20px;
background:#1e293b;
border-radius:10px;
}

.lesson{
margin-top:15px;
background:#334155;
padding:10px;
border-radius:8px;
}

video{
width:100%;
border-radius:10px;
margin-top:10px;
}
